body {
  min-width: 760px;
}

.number {
  font: 20px sans-serif;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 150px;
  margin: 1px;
  padding: 1px;

}

.parcoords {
  display: block;
}

.parcoords svg,
.parcoords canvas {
  font: 10px sans-serif;
  position: absolute;
}

.parcoords canvas {
  opacity: 0.9;
  pointer-events: none;
}

.axis .title {
  font-size: 15px;
  transform: translate(-20px, -20px);
  fill: #222;
}

.axis line,
.axis path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.axis .tick text {
  fill: #222;
  pointer-events: none;
  text-shadow: 0 0 5px #eee;
  z-index: 0;
  transform: translate(3px, -8px);
  text-align: center;
}

.axis.Partei .tick text {
  transform: translate(0px, 0px);
  text-align: center;
}

canvas {
  z-index: 9999;
}

.axis:hover line,
.axis:hover path,
.axis.active line,
.axis.active path {
  fill: none;
  stroke: #222;
  stroke-width: 1px;
}

.axis:hover .title {
  font-weight: bold;
}

.axis:hover .tick text {
  opacity: 1;
}

.axis.active .title {
  font-weight: bold;
}

.axis.active .tick text {
  opacity: 1;
  font-weight: bold;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  stroke-width: 1px;
}

/* Table Styling */
pre {
  position: absolute;
  width: 93%;
  height: 230px;
  margin: 40px 40px;
  tab-size: 30;
  font-size: 10px;
  overflow: auto;
}

table {
  width: 100%;
  font-family: sans-serif;
}

table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

th, td {
  padding: 2px;
  text-align: left;
}

th {
  background-color: darkgrey;
  color: white;
}

tr:nth-child(even) {background-color: #f2f2f2;}